* {
  color: white;
  margin: 0;
}

.skill-section {
  width: 100%;
  font-size: 40px;
  font-family: Optima;
  padding: 0;

  .skill-container {
    margin: auto;
    width: 95%;
  }
  

  p {
    align-items: center;
    justify-content: center;
    line-height: 1.12;
    font-size: 25px;
    opacity: 0;
    color: white;

    div {
      opacity: 0;
      transform: translateY(0px);
      color: white;
    }

    &.is-reveal {
      opacity: 1;
      color: white;
    }
  }
}

@media (max-width: 700px) {
  .skill-container{
    flex-direction: column;
    .text{
      width: 90%;
    }
  }
  .skill-section {
    font-size: 30px;

    p {
      font-size: 25px;
      line-height: 1.12;
    }
  }
}