* {
  color: white;
}

p {
  color: white;
}

.about-info{
  width: 95%;
  margin: auto;
}
.about-section {
  font-size: 40px;
  padding: 0;

  h2{
    font-family: Optima;
    font-size: 40px;
  }

  p {
    font-family: Optima;
    line-height: 1.12;
    font-size: 25px;
    opacity: 0;
    color: white;

    div {
      opacity: 0;
      transform: translateY(0px);
      color: white;
    }

    &.is-reveal {
      opacity: 1;
      color: white;
    }
  }
}

@media (max-width: 800px) {
  h2{
    font-size: 10px;
  }
  *{
    font-size: 20px;
  }
  .about-section {
    font-size: 20px;
    p {
      font-size: 15px;
      line-height: 1.12;
    }
  }
}